@import "tailwindcss";

*::-webkit-scrollbar {
    display: none;
}

:root {
    /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */

    --white: #f1f5f8;
    --whiteish: #dfe3e7;
    --black: #000000;

    --overshoot: linear(0, 0.807 15.8%, 1.05 24.4%, 1.196 33.8%, 1.245 41.6%, 1.242 50.6%, 1.038 84%, 1);
}

@theme inline {
    --color-whiteish: var(--whiteish);
    --color-white: var(--white);
    --color-black: var(--black);

    --ease-overshoot: linear(0, 0.807 15.8%, 1.05 24.4%, 1.196 33.8%, 1.245 41.6%, 1.242 50.6%, 1.038 84%, 1);
}

.animate-fadeIn {
    animation: fadeIn var(--overshoot) 0.3s forwards;
}

.animate-flash {
    animation: flash linear 1.25s infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        translate: 10% 0;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes flash {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}
